<!-- Header section starts here -->
<div class="popover-header">
  <div class="row">
    <div class="col-12">
      <div class="top-nav">
        <a routerLink="/" class="active">HOME</a>
        <a routerLink="/blog">Blog</a>
        <a routerLink="contact">Contact</a>
        <a routerLink="/about">About</a>
        <a routerLink="/sign-in-or-register">SIGNUP</a>
      </div>
      <div id="header" class="header-section">
          <img id="index-image" src="assets/img/b3.jpg" alt="background-image">
          <h1>This are the things I have learned today</h1>
          <p>Note: The items have been separated into sections, based on the three core items learned.</p>

      </div>
    </div>
  </div>
</div>
<!-- Header section ends here -->
